.entry-content .woocommerce .woocommerce-coupon-form.woocommerce-form-coupon-toggle {
  margin-bottom: 30px;
}
.entry-content .woocommerce .woocommerce-coupon-form.woocommerce-form-coupon-toggle .woocommerce-form-coupon-toggle {
  margin-bottom: 30px;
}
.entry-content .woocommerce .woocommerce-coupon-form.woocommerce-form-coupon-toggle .woocommerce-form-coupon-toggle .woocommerce-info {
  font-size: 1.4rem;
  font-weight: 500;
  color: #909097;
  text-align: center;
  border: 2px solid #f1f2f4;
  padding: 25px 0 !important;
  margin: 0 !important;
  background-color: #fff;
}
.entry-content .woocommerce .woocommerce-coupon-form.woocommerce-form-coupon-toggle .woocommerce-form-coupon-toggle .woocommerce-info a {
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  color: #23232c;
  text-transform: uppercase;
}
.entry-content .woocommerce .woocommerce-coupon-form.woocommerce-form-coupon-toggle .woocommerce-form-coupon-toggle .woocommerce-info::before {
  content: none;
}
.entry-content .woocommerce .woocommerce-coupon-form.woocommerce-form-coupon-toggle .checkout_coupon.woocommerce-form-coupon {
  border: 0;
  padding: 0;
  display: flex;
  margin: 2em 0;
}
.entry-content .woocommerce .woocommerce-coupon-form.woocommerce-form-coupon-toggle .checkout_coupon.woocommerce-form-coupon .form-row.form-row-first {
  padding-right: 10px;
  padding: 3px;
  margin: 0 0 6px;
  font-weight: 400;
  color: #7c7c80;
  font-size: 1.4rem;
  flex: 1;
}
.entry-content .woocommerce .woocommerce-coupon-form.woocommerce-form-coupon-toggle .checkout_coupon.woocommerce-form-coupon .form-row.form-row-first .input-text {
  outline: none;
  border-radius: 0;
  padding: 8px 0 9px;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #f1f2f4;
}
.entry-content .woocommerce .woocommerce-coupon-form.woocommerce-form-coupon-toggle .checkout_coupon.woocommerce-form-coupon .form-row.form-row-first .input-text:focus {
  border-bottom-color: #23232c;
}
.entry-content .woocommerce .woocommerce-coupon-form.woocommerce-form-coupon-toggle .checkout_coupon.woocommerce-form-coupon .form-row.form-row-last {
  padding: 3px;
  margin: 0 0 6px;
  font-weight: 400;
  color: #7c7c80;
  font-size: 1.4rem;
  width: auto;
}
.entry-content .woocommerce .woocommerce-coupon-form.woocommerce-form-coupon-toggle .checkout_coupon.woocommerce-form-coupon .form-row.form-row-last button {
  font-size: 1.4rem;
  color: #23232c;
  font-weight: 500;
  background-color: transparent;
  text-transform: uppercase;
  min-height: 0;
  min-width: 0;
  line-height: 1;
  padding: 12px 0;
  border-bottom: 2px solid #23232c;
  border-radius: 0;
}
.entry-content .woocommerce .woocommerce-coupon-form.woocommerce-form-coupon-toggle .checkout_coupon.woocommerce-form-coupon .form-row.form-row-last button:focus {
  outline: none;
  border: 0;
  border-bottom: 2px solid #23232c;
  border-radius: 0;
}
.entry-content .woocommerce .checkout.woocommerce-checkout {
  overflow: auto;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .woocommerce-NoticeGroup.woocommerce-NoticeGroup-checkout {
  padding: 20px 20px 20px 80px !important;
  margin: 20px 0 !important;
  border: none;
  background-color: #ffd0d0;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .woocommerce-NoticeGroup.woocommerce-NoticeGroup-checkout .woocommerce-error {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #ffd0d0;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .woocommerce-NoticeGroup.woocommerce-NoticeGroup-checkout .woocommerce-error::before {
  content: none;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .woocommerce-NoticeGroup.woocommerce-NoticeGroup-checkout .woocommerce-error li {
  color: #d45757;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.14286;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .woocommerce-NoticeGroup.woocommerce-NoticeGroup-checkout .woocommerce-error li strong {
  color: #d45757;
  font-size: 1.4rem;
  font-weight: 700;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check {
  float: left;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check h3 {
  font-size: 2.4rem;
  color: #23232c;
  font-weight: 400;
  margin: 0;
  padding-bottom: 30px;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .col2-set {
  border: 0;
  padding: 10px 0;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .col2-set .col-1 {
  border-bottom: 1px solid #eaebee;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 0;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .col2-set .col-1 .woocommerce-billing-fields h3 {
  display: none;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .col2-set .col-1 .woocommerce-billing-fields #billing_address_2_field label {
  width: auto !important;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .col2-set .col-1 .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper .form-row {
  overflow: hidden;
  padding-left: 200px;
  margin: 0 0 30px;
  display: block;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .col2-set .col-1 .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper .form-row label {
  margin-left: -200px;
  font-size: 1.4rem;
  color: #23232c;
  font-weight: 400;
  padding-top: 5px;
  float: left;
  max-width: 100%;
  margin-bottom: 5px;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .col2-set .col-1 .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper .form-row span .input-text {
  outline: none;
  border-radius: 0;
  border: 0;
  font-size: 16px;
  color: #23232c;
  border-bottom: 2px solid #f1f2f4;
  padding: 5px 0;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .col2-set .col-1 .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper .form-row-first {
  width: 100%;
  float: none;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .col2-set .col-1 .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper .form-row-last {
  width: 100%;
  float: none;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .col2-set .col-1 .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper .validate-required span span .select2-selection.select2-selection--single {
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid #e4e6eb;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .col2-set .col-1 .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper .validate-required span span .select2-selection.select2-selection--single span {
  font-size: 1.4rem;
  color: #909097;
  font-weight: 400;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .col2-set .col-1 .woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper .validate-required span span .select2-selection.select2-selection--single .select2-selection__rendered {
  color: #444;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .col2-set .col-2 {
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 0;
  padding-top: 30px;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .col2-set .col-2 .woocommerce-additional-fields h3 {
  text-align: center;
  padding-bottom: 30px;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .col2-set .col-2 .woocommerce-additional-fields .woocommerce-additional-fields__field-wrapper .form-row.notes {
  display: block;
  margin: 0 0 30px;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .col2-set .col-2 .woocommerce-additional-fields .woocommerce-additional-fields__field-wrapper .form-row.notes label {
  font-size: 1.4rem;
  color: #23232c;
  font-weight: 400;
  padding-top: 5px;
  line-height: 2;
  margin: 0 0 20px;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .col2-set .col-2 .woocommerce-additional-fields .woocommerce-additional-fields__field-wrapper .form-row.notes label span {
  font-size: 1.4rem;
  color: #23232c;
  font-weight: 400;
  padding-top: 5px;
  line-height: 2;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .col2-set .col-2 .woocommerce-additional-fields .woocommerce-additional-fields__field-wrapper .form-row.notes span .input-text {
  font-size: 16px;
  border: 0;
  outline: none;
  color: #23232c;
  border-radius: 0;
  border-bottom: 2px solid #e4e6eb;
  line-height: 1.5;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .col2-set .col-2 .woocommerce-additional-fields .woocommerce-additional-fields__field-wrapper .form-row.notes span .input-text:focus {
  border-color: #23232c;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .woocommerce-checkout-review-order {
  padding: 10px 20px;
  background-color: #f9f9f9;
  border: 0;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .woocommerce-checkout-review-order .shop_table.woocommerce-checkout-review-order-table {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #eaebee;
  margin: 0;
  border-spacing: 0;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .woocommerce-checkout-review-order .shop_table.woocommerce-checkout-review-order-table tbody .cart_item {
  border-collapse: 0;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .woocommerce-checkout-review-order .shop_table.woocommerce-checkout-review-order-table tbody .cart_item:first-child td {
  border: 0;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .woocommerce-checkout-review-order .shop_table.woocommerce-checkout-review-order-table tbody .cart_item td {
  padding: 20px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .woocommerce-checkout-review-order .shop_table.woocommerce-checkout-review-order-table tbody .cart_item .product-name {
  display: flex;
  flex: 1;
  align-items: center;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .woocommerce-checkout-review-order .shop_table.woocommerce-checkout-review-order-table tbody .cart_item .product-name a {
  display: block;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .woocommerce-checkout-review-order .shop_table.woocommerce-checkout-review-order-table tbody .cart_item .product-name a img {
  max-width: 100px;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .woocommerce-checkout-review-order .shop_table.woocommerce-checkout-review-order-table tbody .cart_item .product-name div {
  margin-left: 0.5em;
  font-size: 1.4rem;
  color: #23232c;
  font-weight: 400;
  line-height: 1.5em;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .woocommerce-checkout-review-order .shop_table.woocommerce-checkout-review-order-table tbody .cart_item .product-name div .variation .variation-Kchthc {
  font-size: 1rem;
  color: #23232c;
  font-weight: 400;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .woocommerce-checkout-review-order .shop_table.woocommerce-checkout-review-order-table tbody .cart_item .product-quantity {
  width: 30px;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .woocommerce-checkout-review-order .shop_table.woocommerce-checkout-review-order-table tbody .cart_item .product-quantity strong {
  font-size: 1.4rem;
  font-weight: 500;
  color: #909097;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .woocommerce-checkout-review-order .shop_table.woocommerce-checkout-review-order-table tbody .cart_item .product-total span bdi {
  font-size: 1.4rem;
  color: #23232c;
  font-weight: 500;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .woocommerce-checkout-review-order .shop_table.woocommerce-checkout-review-order-table tbody .cart_item .product-total span bdi span {
  font-size: 1.4rem;
  color: #23232c;
  font-weight: 500;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .woocommerce-checkout-review-order .shop_table.woocommerce-checkout-review-order-table tfoot tr th {
  font-size: 1.4rem;
  color: #23232c;
  font-weight: 400;
  text-transform: uppercase;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .woocommerce-checkout-review-order .shop_table.woocommerce-checkout-review-order-table tfoot tr td {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .woocommerce-checkout-review-order .shop_table.woocommerce-checkout-review-order-table tfoot tr td ul {
  margin: 0;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .woocommerce-checkout-review-order .shop_table.woocommerce-checkout-review-order-table tfoot tr td ul li label {
  font-size: 1.4rem;
  color: #23232c;
  font-weight: 500;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .woocommerce-checkout-review-order .shop_table.woocommerce-checkout-review-order-table tfoot tr td span bdi {
  font-size: 1.4rem;
  color: #23232c;
  font-weight: 500;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .woocommerce-checkout-review-order .shop_table.woocommerce-checkout-review-order-table tfoot tr td span bdi span {
  font-size: 1.4rem;
  color: #23232c;
  font-weight: 500;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .woocommerce-checkout-review-order #payment {
  background: 0 0;
  border-radius: 0;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .woocommerce-checkout-review-order #payment .wc_payment_methods.payment_methods.methods {
  padding: 0;
  border: 0;
  margin-bottom: 30px;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .woocommerce-checkout-review-order #payment .wc_payment_methods.payment_methods.methods li {
  line-height: 2;
  text-align: left;
  margin: 0;
  font-weight: 400;
  border-bottom: 1px solid #eaebee;
  padding: 30px 0;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .woocommerce-checkout-review-order #payment .wc_payment_methods.payment_methods.methods li .input-radio {
  display: none;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .woocommerce-checkout-review-order #payment .wc_payment_methods.payment_methods.methods li .input-radio:checked + label::before {
  border-color: #23232c;
  background-color: #fff;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .woocommerce-checkout-review-order #payment .wc_payment_methods.payment_methods.methods li .input-radio:checked + label::after {
  display: block;
  border-color: #23232c;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .woocommerce-checkout-review-order #payment .wc_payment_methods.payment_methods.methods li label {
  color: #23232c;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 44px;
  position: relative;
  cursor: pointer;
  font-size: 1.4rem;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .woocommerce-checkout-review-order #payment .wc_payment_methods.payment_methods.methods li label::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  left: 0;
  top: -2px;
  border: 1px solid #e4e6eb;
  background-color: #e4e6eb;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .woocommerce-checkout-review-order #payment .wc_payment_methods.payment_methods.methods li label::after {
  content: "";
  position: absolute;
  border-left: 2px solid #e4e6eb;
  border-bottom: 2px solid #e4e6eb;
  width: 12px;
  height: 6px;
  left: 6px;
  top: 6px;
  transform: rotate(-45deg);
  display: none;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .woocommerce-checkout-review-order #payment .wc_payment_methods.payment_methods.methods li div {
  background-color: transparent;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .woocommerce-checkout-review-order #payment .wc_payment_methods.payment_methods.methods li div::before {
  content: none;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .woocommerce-checkout-review-order #payment .wc_payment_methods.payment_methods.methods li div p {
  font-size: 1.4rem;
  color: #909097;
  font-weight: 400;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .woocommerce-checkout-review-order #payment .form-row.place-order {
  display: block;
  padding: 0;
  margin: 0 0 30px;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .woocommerce-checkout-review-order #payment .form-row.place-order .woocommerce-terms-and-conditions-wrapper {
  display: none;
}
.entry-content .woocommerce .checkout.woocommerce-checkout .check .woocommerce-checkout-review-order #payment .form-row.place-order .button.alt {
  display: block;
  text-transform: uppercase;
  width: 100%;
  line-height: 80px;
  background: #d45757;
  color: #fff;
  outline: none;
  box-shadow: none;
  font-weight: 400;
  border-radius: 0;
  font-size: 1.4rem;
}
.entry-content .woocommerce .woocommerce-order .woocommerce-notice.woocommerce-notice--success.woocommerce-thankyou-order-received {
  font-size: 1.3rem;
  font-weight: 400;
  color: #909097;
  margin-bottom: 20px;
}
.entry-content .woocommerce .woocommerce-order .woocommerce-order-overview.woocommerce-thankyou-order-details.order_details {
  margin-bottom: 50px;
}
.entry-content .woocommerce .woocommerce-order .woocommerce-order-overview.woocommerce-thankyou-order-details.order_details li {
  font-size: 1rem;
  font-weight: 400;
  color: #909097;
}
.entry-content .woocommerce .woocommerce-order .woocommerce-order-overview.woocommerce-thankyou-order-details.order_details li strong {
  color: #515151;
  font-size: 1.4rem;
  font-weight: 500;
}
.entry-content .woocommerce .woocommerce-order .woocommerce-order-overview.woocommerce-thankyou-order-details.order_details li strong span bdi {
  color: #515151;
  font-size: 1.4rem;
  font-weight: 500;
}
.entry-content .woocommerce .woocommerce-order .woocommerce-order-overview.woocommerce-thankyou-order-details.order_details li strong span bdi span {
  color: #515151;
  font-size: 1.4rem;
  font-weight: 500;
}
.entry-content .woocommerce .woocommerce-order .woocommerce-order-details h2 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-weight: 400;
}
.entry-content .woocommerce .woocommerce-order .woocommerce-order-details .woocommerce-table.woocommerce-table--order-details.shop_table.order_details {
  border: 0;
  border-radius: 0;
  border-spacing: 0;
}
.entry-content .woocommerce .woocommerce-order .woocommerce-order-details .woocommerce-table.woocommerce-table--order-details.shop_table.order_details thead tr th {
  padding: 20px 0;
  font-size: 1.4rem;
  font-weight: 400;
}
.entry-content .woocommerce .woocommerce-order .woocommerce-order-details .woocommerce-table.woocommerce-table--order-details.shop_table.order_details tbody tr td {
  padding: 20px 0;
  font-size: 1.4rem;
  font-weight: 400;
}
.entry-content .woocommerce .woocommerce-order .woocommerce-order-details .woocommerce-table.woocommerce-table--order-details.shop_table.order_details tbody tr td span bdi {
  font-size: 1.6rem;
  font-weight: 400;
  color: #212529;
}
.entry-content .woocommerce .woocommerce-order .woocommerce-order-details .woocommerce-table.woocommerce-table--order-details.shop_table.order_details tbody tr td span bdi span {
  font-size: 1.6rem;
  font-weight: 400;
  color: #212529;
}
.entry-content .woocommerce .woocommerce-order .woocommerce-order-details .woocommerce-table.woocommerce-table--order-details.shop_table.order_details tbody tr td a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  color: #212529;
}
.entry-content .woocommerce .woocommerce-order .woocommerce-order-details .woocommerce-table.woocommerce-table--order-details.shop_table.order_details tbody tr td strong {
  font-size: 1.6rem;
  font-weight: 400;
  color: #909097;
}
.entry-content .woocommerce .woocommerce-order .woocommerce-order-details .woocommerce-table.woocommerce-table--order-details.shop_table.order_details tbody tr td ul {
  padding: 0;
}
.entry-content .woocommerce .woocommerce-order .woocommerce-order-details .woocommerce-table.woocommerce-table--order-details.shop_table.order_details tbody tr td ul li strong {
  font-size: 1.6rem;
  font-weight: 400;
  color: #212529;
}
.entry-content .woocommerce .woocommerce-order .woocommerce-order-details .woocommerce-table.woocommerce-table--order-details.shop_table.order_details tbody tr td ul li p {
  font-size: 1.6rem;
  font-weight: 400;
  color: #212529;
}
.entry-content .woocommerce .woocommerce-order .woocommerce-order-details .woocommerce-table.woocommerce-table--order-details.shop_table.order_details tfoot tr th {
  padding: 20px 0;
  font-size: 1.6rem;
  font-weight: 500;
}
.entry-content .woocommerce .woocommerce-order .woocommerce-order-details .woocommerce-table.woocommerce-table--order-details.shop_table.order_details tfoot tr td {
  padding: 20px 0;
  font-size: 1.6rem;
  font-weight: 500;
}
.entry-content .woocommerce .woocommerce-order .woocommerce-order-details .woocommerce-table.woocommerce-table--order-details.shop_table.order_details tfoot tr td span {
  font-size: 1.6rem;
  font-weight: 500;
}
.entry-content .woocommerce .woocommerce-order .woocommerce-order-details .woocommerce-table.woocommerce-table--order-details.shop_table.order_details tfoot tr td span span {
  font-size: 1.6rem;
  font-weight: 500;
}

.select2-container.select2-container--default.select2-container--open .select2-dropdown.select2-dropdown--below {
  top: 34px;
  box-shadow: 0 4px 10px 0 rgba(3, 3, 3, 0.1);
  border: 1px solid #f1f2f4;
}
.select2-container.select2-container--default.select2-container--open .select2-dropdown.select2-dropdown--below .select2-search.select2-search--dropdown .select2-search__field {
  outline: none;
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid #f1f2f4 !important;
  color: #111;
  font-size: 1.6rem;
  font-weight: 400;
}
.select2-container.select2-container--default.select2-container--open .select2-dropdown.select2-dropdown--below .select2-search.select2-search--dropdown .select2-search__field:focus {
  border-bottom-color: #23232c !important;
}
.select2-container.select2-container--default.select2-container--open .select2-dropdown.select2-dropdown--below .select2-results ul li {
  padding: 6px;
  color: #7c7c80;
  font-size: 1.4rem;
  font-weight: 400;
}
.select2-container.select2-container--default.select2-container--open .select2-dropdown.select2-dropdown--below .select2-results ul li:hover {
  background-color: #23232c;
  color: white;
}
.select2-container.select2-container--default.select2-container--open .select2-dropdown.select2-dropdown--below .select2-results ul .select2-results__option--highlighted {
  background-color: #23232c;
  color: white;
}
.select2-container.select2-container--default.select2-container--open .select2-dropdown.select2-dropdown--above {
  top: 34px;
  box-shadow: 0 4px 10px 0 rgba(3, 3, 3, 0.1);
  border: 1px solid #f1f2f4;
}
.select2-container.select2-container--default.select2-container--open .select2-dropdown.select2-dropdown--above .select2-search.select2-search--dropdown .select2-search__field {
  outline: none;
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid #f1f2f4 !important;
  color: #111;
  font-size: 1.6rem;
  font-weight: 400;
}
.select2-container.select2-container--default.select2-container--open .select2-dropdown.select2-dropdown--above .select2-search.select2-search--dropdown .select2-search__field:focus {
  border-bottom-color: #23232c !important;
}
.select2-container.select2-container--default.select2-container--open .select2-dropdown.select2-dropdown--above .select2-results ul li {
  padding: 6px;
  color: #7c7c80;
  font-size: 1.4rem;
  font-weight: 400;
}
.select2-container.select2-container--default.select2-container--open .select2-dropdown.select2-dropdown--above .select2-results ul li:hover {
  background-color: #23232c;
  color: white;
}
.select2-container.select2-container--default.select2-container--open .select2-dropdown.select2-dropdown--above .select2-results ul .select2-results__option--highlighted {
  background-color: #23232c;
  color: white;
}/*# sourceMappingURL=thanh-toan.css.map */